---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my site">
    <main class="p-4 h-screen">
        <div
            class="mx-auto flex flex-col items-center justify-center h-full bg-gradient-to-r from-cyan-500 to-blue-500"
        >
            <p class="text-bold text-3xl text-white">
                I build stuff for the web
            </p>
        </div>
    </main>
</Layout>
